apiVersion: longhorn.io/v1beta2
kind: BackupTarget
metadata:
  name: default
  namespace: longhorn-system
spec:
  backupTargetURL: https://s3.eu-central-003.backblazeb2.com/HomeLab-Kubernetes-DBs/longhorn/
  credentialSecret: longhorn-backup-target-secret
