apiVersion: v1
kind: Secret
metadata:
  # The name here MUST match the name in the HelmRelease's 'valuesFrom' section
  name: longhorn-helm-values
  namespace: longhorn-system
stringData:
  # This key holds the actual Helm values
  values.yaml: |
    csi:
      attacherReplicaCount: 3
      provisionerReplicaCount: 3
      resizerReplicaCount: 3
      snapshotterReplicaCount: 3
    longhornUI:
      replicas: 2
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 256Mi
    longhornManager:
      resources:
        requests:
          cpu: 250m
          memory: 256Mi
        limits:
          cpu: 500m
          memory: 512Mi
    longhornDriver:
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 256Mi
    defaultSettings:
      backupTarget: "s3://HomeLab-Kubernetes-DBs/longhorn/"
      backupTargetCredentialSecret: "longhorn-backup-target-secret"
