playbooks/inventory.yaml
playbooks/ansible.cfg
apps/base/.DS_Store
.DS_Store
apps/base/graylog/secret.yaml
databases/graylog/secret.yaml
infrastructure/longhorn/longhorn-backblaze-b2-setup.md
master.key
unseal-key.txt
README_vault_migration.md
admin/**
deploy/crds

# Ignore all unencrypted YAML files in lab42 overlays
**/lab42/**/*.yaml

# But DO commit kustomization.yaml files
!**/kustomization.yaml

# And DO commit encrypted .sops.yaml files
!**/*.sops.yaml

!cluster/**
# Always ignore the master age.key
admin/age.key
