playbooks/inventory.yaml
playbooks/ansible.cfg
apps/base/.DS_Store
.DS_Store
apps/base/graylog/secret.yaml
databases/graylog/secret.yaml
infrastructure/longhorn/longhorn-backblaze-b2-setup.md
master.key
unseal-key.txt
README_vault_migration.md
admin/**
deploy/crds

# Ignore all YAML files in Lab42 config (the "Unencrypted" risk)
infrastructure/config/lab42/**/*.yaml
infrastructure/controllers/lab42/**/*.yaml
# But allow the encrypted ones
!infrastructure/config/lab42/**/*.sops.yaml
!infrastructure/controllers/lab42/**/*.sops.yaml
# Always ignore the master age.key
admin/age.key
