# .gitlab-ci.yml
image: registry.gitlab.com/homelab1165334/containers/multiaarch-homelab-runner

stages:
  - lint

yaml-lint:
  stage: lint
  script:
    - echo "Running yamllint on all YAML files..."
    - yamllint .
  rules:
    - changes:
        - "**/*.yaml"
        - "**/*.yml"
