# .gitlab-ci.yml
image: registry.gitlab.com/homelab1165334/containers/multiaarch-homelab-runner:latest

stages:
  - lint

yaml-lint:
  stage: lint
  tags:
    - home-lab # Ensure this job runs on the self-hosted runner
  script:
    - echo "Running yamllint on all YAML files..."
    - yamllint .
  rules:
    - changes:
        - "**/*.yaml"
        - "**/*.yml"
